

@font-face {
	font-family: Poppins;
	src: url('.assets/fonts/Poppins-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Poppins;
	src: url('./assets/fonts/Poppins-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Poppins;
	src: url('./assets/fonts/Poppins-Regular.ttf');
	font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  
  body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: #ececec !important;
    font-family: 'Poppins', sans-serif !important;
  }
  
  p, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }

 a, li{
    color: #fff !important;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  
  input:focus, textarea:focus, select:focus {
    outline: none;
  }
  
  @media (min-width:1700px) {
      main .container {
          max-width: 100%;
          padding: 0 150px;
      }
  }
  
  p.success {
      color: green;
  }
  
  p.danger {
      color: red;
  }

  .social-icon {
    display: flex;
    margin-right: 34px;
    gap: 14px;
}

.robot-animation{
  width: 400px;
}

.clients-header{
  margin-bottom: 35px;
}

.about-text{
  margin-top: 100px;
  width: 695px;
  line-height: 170%;
}

.connect-button{
  border-radius: 30px;
  border: 0px;
  background: linear-gradient(107deg, #C961DE 24.43%, #2954A3 68.95%);
  box-shadow: 0px 10px 20px 0px rgba(8, 12, 33, 0.15);
  width: 200px;
  height: 45px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 15px;
}

