

@font-face {
	font-family: Poppins;
	src: url('.assets/fonts/Poppins-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Poppins;
	src: url('./assets/fonts/Poppins-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Poppins;
	src: url('./assets/fonts/Poppins-Regular.ttf');
	font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  
  body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
  }
  
  p, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }

 a, li{
    color: #fff !important;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  
  button {
    border: 0;
    background-color: transparent;
  }
  
  input:focus, textarea:focus, select:focus {
    outline: none;
  }
  
  @media (min-width:1700px) {
      main .container {
          max-width: 100%;
          padding: 0 150px;
      }
  }
  
  p.success {
      color: green;
  }
  
  p.danger {
      color: red;
  }

  .social-icon {
    display: flex;
    margin-right: 34px;
    gap: 14px;
}

.robot-animation{
  width: 500px;
}

h2 {
  font-size: 60px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
h4 {
  font-size: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 150px 0;
  margin: 0px auto;
  font-family: sans-serif;
  margin: 0 50px;
}

